html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #404040;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #606060;
}

.hidden {
    display: none;
}
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#alert {
    position: absolute;
    top: 20px;
    text-align: center;
    background: #00000080;
    padding: 10px;
    opacity: 0;
}
#ws {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #00000080;
}

#logo > #scuffed {
    color: red;
    font-size: 30px;
    font-variant: small-caps;
    position: absolute;
    transform: rotate(-10deg) translate(-100px, 0px);
    border: 5px double red;
    border-width: 5px 0 5px 0;
    padding: 0 10px;
}
#logo > #hacked {
    color: lime;
    font-family: monospace;
    font-size: 30px;
    position: absolute;
    transform: translate(-250px, -30px);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
#update {
    color: yellow;
    position: relative;
    animation: cubic-bezier(.5, .3, .3, .5) pulse 1s infinite;
}

#loginDiv {
    text-align: center;
}
button {
    font-size: 20px;
    cursor: pointer;
}
#play {
    color: #ffffff;
    border: 2.5px solid #202020;
    border-radius: 10px;
    background: #404040;
    padding: 20px 40px;
}

#links {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
}
#links * {
    display: block;
    height: 50px;
    margin-right: 5px;
    text-decoration: none;
}

#changelog {
    padding: 5px;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: #404040;
    border: solid 3px #202020;
    border-radius: 5px;
    overflow-y: auto;
}
code {
    background: #808080;
    padding: 2px 5px;
}
#closeChangelog {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: none;
    font-size: 30px;
}

#backtoLogin, #backToLogout {
    position: absolute;
    top: 10px;
    left: 10px;
}
#gamesDiv {
    height: 100%;
    width: 100%;
}
#gamesMenu {
    text-align: center;
}
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: scroll;
}
.gameDisplay {
    border-radius: 10px;
    border: 2px solid #202020;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
}
.private {
    border-color: #808000;
    background: #404000;
}

#deathText, #freezeText {
    color: #ff0000;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
    text-shadow: 
        1px 1px #101010,
        2px 2px #101010;
}
#freezeText {
    color: #00ffff;
}

.power {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    background: #80808040;
    border: 5px solid black;
    border-radius: 5px;
}
#power0 {
    transform: translate(0, -112.5%);
}
#power1 {
    transform: translate(0, 12.5%);
}
#power0input, #power1input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
#power0input:focus, #power1input:focus {
    outline: none;
}
.coolDown, .heat {
    position: absolute;
    bottom: 0;
    background: #ff404040;
    width: 100%;
}
.heat {
    background: #2040ff80;
}
.select {
    height: 100%;
    position: absolute;
    background: #c0c0c080;
    border-radius: 5px 0 0 5px;
    transition: .5s;
    display: flex;
}
.selectclip {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(-100vw 0, -5px 0, -5px 100%, -100vw 100%);
}
.power:hover .select {
    transform: translate(calc(-100% - 5px), 0);
}

.poweroption {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.poweroption img {
    margin: 5px;
}
.poweroption:first-child {
    border-radius: 5px 0 0 5px;
}
.poweroption:hover {
    background: #2080ff;
}

/* W3Schools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

canvas {
    background: #f0f0f0;
}
#playerList {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #00000080;
    padding: 5px;
    min-width: 300px;
    height: 200px;
    overflow-y: auto;
}
#playerList p {
    margin: 2.5px;
}
.deadPlayerName {
    color: #ff0000;
}

#chat {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 350px;
    height: 250px;
    background: #000000c0;
    overflow: hidden;
}
#chatContent {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: calc(100% - 40px);
}
#chat p {
    margin: 0;
}
.wrapper:nth-of-type(odd) {
    background-color: #ffffff20;
}
.wrapper {
    padding: 5px;
}
#chat a {
    color: #4040ff;
}
#chat a:visited {
    color: #8000ff;
}
#chat a:active {
    color: #0000c0;
}
#chat a:visited:active {
    color: #4000c0;
}
#chat input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background: #404040;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 17px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#chat input:focus {
    outline: none;
}

.discordMsg {
    color: #7289da;
}
.discordMsg:before {
    content: '[DISCORD]';
    margin-right: 5px;
}
.guestMsg {
    color: #808080;
}
.userMsg {
    color: #ffffff;
}
.SYSMsg {
    background-image: repeating-linear-gradient(45deg, #ff0000, #ffff00, #ff0000);
    animation: slide 7s linear infinite;
    background-size: 700% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.modMsg {
    /* Haha's CSS */
    background-image: repeating-linear-gradient(45deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    animation: slide 7s linear infinite;
    background-size: 4900% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.devMsg {
    background-image: repeating-linear-gradient(45deg, #80ff80, #00ff80, #8080ff, #00ff80, #80ff80);
    animation: slide 3s linear infinite;
    background-size: 700% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@keyframes slide { 
    0%{ background-position: 0% 0; }
    100%{ background-position: 100% 0; }
}

#fuelBarWrap {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 100% - 650px, 600px);
    height: 25px;
    border: 5px solid #202020;
}
#fuelBarInner {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: #ffff40;
}

#pos {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    text-align: right;
}
#pos p {
    margin: 5px;
}

#lastUpdateDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    text-align: right;
}