:root {
    --obscolor: #808080;
    --BG: #404040;
    --color: #ffffff;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: var(--BG);
    color: var(--color);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #606060;
}

.hidden {
    display: none;
}
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#alert {
    position: absolute;
    top: 20px;
    text-align: center;
    background: #00000080;
    padding: 10px;
    opacity: 0;
}
#ws {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #00000080;
}

#logo > #scuffed {
    color: red;
    font-size: 30px;
    font-variant: small-caps;
    position: absolute;
    transform: rotate(-10deg) translate(-100px, 0px);
    border: 5px double red;
    border-width: 5px 0 5px 0;
    padding: 0 10px;
}
#logo > #hacked {
    color: lime;
    font-family: monospace;
    font-size: 30px;
    position: absolute;
    transform: translate(-250px, -30px);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
#update {
    color: yellow;
    position: relative;
    animation: cubic-bezier(.5, .3, .3, .5) pulse 1s infinite;
}

#loginDiv {
    text-align: center;
}
button {
    font-size: 20px;
    cursor: pointer;
}
#play {
    color: var(--color);
    border: 2.5px solid #202020;
    border-radius: 10px;
    background: var(--BG);
    padding: 20px 40px;
}

#links {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#gamesDiv {
    height: 100%;
    width: 100%;
}
#gamesMenu {
    text-align: center;
}
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.gameDisplay {
    border-radius: 10px;
    border: 2px solid #202020;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
}
.private {
    border-color: #808000;
    background: #404000;
}

#deathText, #freezeText {
    color: #ff0000;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
    text-shadow: 
        1px 1px #101010,
        2px 2px #101010;
}
#freezeText {
    color: #00ffff;
}

canvas {
    background: #f0f0f0;
}
#playerList {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #00000080;
    padding: 5px;
    min-width: 300px;
    height: 200px;
    overflow-y: auto;
}
#playerList p {
    margin: 2.5px;
}
.deadPlayerName {
    color: #ff0000;
}

#chat {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: 200px;
    background: #000000c0;
    overflow: hidden;
}
#chatContent {
    padding: 5px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: calc(100% - 40px);
}
#chat p {
    margin: 0;
}
#chat input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background: #404040;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: var(--color);
    font-size: 17px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#chat input:focus {
    outline: none;
}
.guestMsg {
    color: #808080;
}
.userMsg {
    color: #ffffff;
}
.SYSMsg {
    background-image: repeating-linear-gradient(45deg,#ff0000, #ffff00, #ff0000);
    animation: slide 2s linear infinite;
    background-size: 700% 700%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.modMsg {
    /* Haha's CSS */
    background-image: repeating-linear-gradient(45deg, violet, rgb(195, 122, 247), rgb(118, 118, 235), rgb(114, 231, 114), rgb(240, 240, 128), rgb(240, 195, 113), rgb(248, 149, 149), rgb(248, 160, 248));
    animation: slide 7s linear infinite;
    background-size: 700% 700%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.devMsg {
    background-image: repeating-linear-gradient(45deg, #80ff80, #00ff80, #8080ff, #00ff80, #80ff80);
    animation: slide 3s linear infinite;
    background-size: 700% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@keyframes slide { 
    0%{ background-position: 0% 0; }
    100%{ background-position: 100% 0; }
}

#fuelBarWrap {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 100% - 650px, 600px);
    height: 25px;
    border: 5px solid #202020;
}
#fuelBarInner {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: #ffff40;
}

#pos {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    text-align: right;
}
#pos p {
    margin: 5px;
}

#lastUpdateDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    text-align: right;
}