html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #303030;
    color: #ffffff;
}

body.scroll {
    overflow: auto;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
    transition: opacity 10000s;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #606060;
}

input {
    font-size: 20px;
    padding: 1px 5px;
}

.hidden {
    display: none;
}
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#connecting {
    text-align: center;
}
#connecting small {
    font-size: x-small;
}

#alert {
    position: absolute;
    top: 20px;
    text-align: center;
    background: #00000080;
    padding: 10px;
    opacity: 0;
}
#ws {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #00000080;
}

#logo > #scuffed {
    color: red;
    font-size: 30px;
    font-variant: small-caps;
    position: absolute;
    transform: rotate(-10deg) translate(-100px, 0px);
    border: 5px double red;
    border-width: 5px 0 5px 0;
    padding: 0 10px;
}
#logo > #hacked {
    color: lime;
    font-family: monospace;
    font-size: 30px;
    position: absolute;
    transform: translate(-250px, -30px);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
#update {
    color: yellow;
    position: relative;
    animation: cubic-bezier(.5, .3, .3, .5) pulse 1s infinite;
}

#loginDiv {
    text-align: center;
}
button {
    font-size: 20px;
    cursor: pointer;
}
#play {
    color: #ffffff;
    border: 2.5px solid #101810;
    border-radius: 10px;
    background: #303830;
    padding: 20px 40px; 
}

#links {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
}
#links * {
    display: block;
    height: 50px;
    margin-right: 5px;
    text-decoration: none;
}
.buttonLink {
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #717171;
    border-radius: 2px;
    color: #000000;
    background: #efefef;
}

#changelog {
    padding: 5px;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: #303030;
    border: solid 3px #000000;
    border-radius: 5px;
    overflow-y: auto;
}
code {
    background: #808080;
    padding: 2px 5px;
}
#closeChangelog {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: none;
    font-size: 30px;
}
.grecaptcha-badge {
    display: none;
}

#backtoLogin, #backToLogout {
    position: absolute;
    top: 10px;
    left: 10px;
}
input[type=color] {
    cursor: pointer;
}
#hats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hat {
    width: 100px;
    margin: 0 20px;
}
.hat img{
    width: 50px;
    height: 50px;
    background: #ffffff20;
    border: 5px solid transparent;
    cursor: pointer;
}
.hat.active img {
    background: #00ff0020
}

#gamesDiv {
    height: 100%;
    width: 100%;
}
#gamesMenu {
    text-align: center;
}
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: scroll;
}
.gameDisplay {
    border-radius: 10px;
    border: 2px solid #202020;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
}
.private {
    border-color: #808000;
    background: #404000;
}

#createGameMenu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#createGameMenu.hidden {
    display: none;
}
#gameFileLabel {
    padding: 5px 20px;
    background: #00000080;
    cursor: pointer;
}
#gameFileLabel:hover {
    background: #000000c0;
}
#powerRestrictOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 240px;
}
#powerRestrictOptions.hidden {
    display: none;
}
#powerRestrictOptions img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 2px;
    background: #00ff0020;
    cursor: pointer;
}
#powerRestrictOptions img.restricted {
    background: #ff000020;
}

.switchLabel {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}
.switch {
    width: 60px;
    height: 35px;
    display: inline-block;
    position: relative;
    background: #808080;
    border-radius: 20px;
    transition: .4s;
    bottom: -10px;
}
.switch::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    background: #ffffff;
    transition: .4s;
    border-radius: 50%;
}
input:checked+.switch {
    background: #2080ff;
}
input:checked+.switch::before {
    left: 30px;
}

#deathText, #freezeText {
    color: #ff0000;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
    text-shadow: 
        1px 1px #101010,
        2px 2px #101010;
}
#freezeText {
    color: #00ffff;
}

.power {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    background: #c0c0c0c0;
    border: 5px solid black;
    border-radius: 5px;
}
#power0 {
    transform: translate(0, -112.5%);
}
#power1 {
    transform: translate(0, 12.5%);
}
#power0input, #power1input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    padding: 0;
}
#power0input:focus, #power1input:focus {
    outline: none;
}
.coolDown, .heat {
    position: absolute;
    bottom: 0;
    background: #ff404040;
    width: 100%;
}
.heat {
    background: #2040ff80;
}
.select {
    height: 100%;
    position: absolute;
    background: #c0c0c080;
    border-radius: 5px 0 0 5px;
    transition: 1s;
    display: flex;
}
.selectclip {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(-100vw 0, -5px 0, -5px 100%, -100vw 100%);
}
.power:hover .select {
    transition: .5s;
    transform: translate(calc(-100% - 5px), 0);
}

.poweroption {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.poweroption img {
    margin: 5px;
}
.poweroption:first-child {
    border-radius: 5px 0 0 5px;
}
.poweroption:hover {
    background: #2080ff;
}

/* W3Schools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

canvas {
    background: #f0f0f0;
    width: 100%;
    height: 100%;
}
#playerList {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #00000080;
    padding: 5px;
    min-width: 300px;
    height: 200px;
    overflow-y: auto;
}
#playerList p {
    margin: 2.5px;
}
.deadPlayerName {
    color: #ff0000;
}
.freezePlayerName {
    color: #00ffff;
}
.deadPlayerName.freezePlayerName {
    color: #ff0080;
}

#chat {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 350px;
    height: fit-content;
    background: #000000c0;
    overflow: hidden;
}
#chatContent {
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 220px;
}
#chat p {
    margin: 0;
}
.wrapper:nth-of-type(odd) {
    background-color: #ffffff08;
}
.wrapper {
    padding: 5px;
    position: relative;
}
.timestamp {
    position: absolute;
    color: #ffffff40;
    font-size: 10px;
    right: 2px;
    top: 2px;
}
#chat a {
    color: #4040ff;
}
#chat a:visited {
    color: #8000ff;
}
#chat a:active {
    color: #0000c0;
}
#chat a:visited:active {
    color: #4000c0;
}
#chatInput {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background: #404040;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 17px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
}
#chatInput:focus {
    outline: none;
}

.discordMsg {
    color: #5865F2;
}
.discordMsg:before {
    content: '[DISCORD]';
    margin-right: 5px;
}
.guestMsg {
    color: #808080;
}
.userMsg {
    color: #ffffff;
}
.SYSMsg {
    background-image: repeating-linear-gradient(45deg, #ff0000, #ffff00, #ff0000);
    animation: slide 7s linear infinite;
    background-size: 7000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.modMsg {
    animation: rainbow 7s linear infinite;
}
.devMsg {
    background-image: repeating-linear-gradient(45deg, #80ff80, #00ff80, #8080ff, #00ff80, #80ff80);
    animation: slide 3s linear infinite;
    background-size: 7000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
/*
.Sweatyfuckingbitchmsg {
    /* animation: sweaty 0.1s linear infinite; * /
    color: #0000ffc0;
}
.msg2121 {
    color: #00ffff;
}
.wolfiemsg {
    color: #9c9c9c;
}
.shrekmsg {
    background-image: repeating-linear-gradient(45deg, #FA823F, #1C3C64, #FAFAFA, #FA823F);
    animation: slide 3s linear infinite;
    background-size: 7000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.halmanageMsg {
    background-image: repeating-linear-gradient(45deg, #ffffff, #ff0000, #ffffff);
    animation: slide 3s linear infinite;
    background-size: 7000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.whizMsg {
    background-image: repeating-linear-gradient(45deg, #42f5c8, #fd0313, #42f5c8);
    animation: slide 3s linear infinite;
    background-size: 7000% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.frogMsg {
    color: #008000;
}
.imaduckMsg {
    color: #ffff00;
}
.drakeMsg {
    color: #0000ff;
}
*/

@keyframes slide { 
    0%{ background-position: 0% 0; }
    100%{ background-position: 100% 0; }
}
@keyframes rainbow {
    0%{ color: #ff0000; }
    16.6667%{ color: #ffff00; }
    33.3333%{ color: #00ff00; }
    50%{ color: #00ffff; }
    66.6667%{ color: #0000ff; }
    73.3333%{ color: #ff00ff; }
    100%{ color: #ff0000; }
}
@keyframes sweaty {
    0% {
        color: #ff0000;
    }
    33.32% {
        color: #ff0000;
    }
    33.33% {
        color: #00ffff;
    }
    66.66% {
        color: #00ffff;
    }
    66.67% {
        color: #00ff00;
    }
    100% {
        color: #00ff00;
    }
}

#fuelBarWrap {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(200px, 100% - 650px, 600px);
    height: 25px;
    border: 5px solid #202020;
    pointer-events: none;
}
#fuelBarInner {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: #ffff40;
}

#pos {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    pointer-events: none;
}
#pos p {
    margin: 5px;
}

#rate {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00000080;
    padding: 5px;
    text-align: right;
    pointer-events: none;
    display: flex;
    flex-direction: row;
}
#graphs {
    width: 75px;
    height: 50px;
    margin-right: 5px;
    background: #202020;
    position: relative;
}
#graphs canvas {
    background: none;
    position: absolute;
    width: 75px;
    height: 50px;
    top: 0;
    left: 0;
}
#numbers {
    width: 100px;
    text-align: left;
    overflow: hidden;
}
#TPS {
    color: #ff4040;
}
#FPS {
    color: #4040ff;
}

#overlay {
    position: absolute;
    bottom: 125px;
    right: 10px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}
#overlay.hidden {
    display: none;
}
.overlaykeys {
    width: 65px;
    margin: 2.5px;
    background: #00000040;
    text-align: center;
    font-size: 13px;
    padding: 26px 0;
}
.overlaypowers {
    width: 100px;
    margin: 2.5px;
    background: #00000040;
    text-align: center;
    font-size: 15px;
    padding: 7px 0;
}
#overlayCombo, #overlaySprint {
    width: 210px;
    margin: 2.5px;
    background: #00000040;
    text-align: center;
    font-size: 10px;
    padding: 3px 0;
}
.overlayactive {
    background: #0000ff40 !important;
}

.reward {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #00000080;
    padding: 10px 30px;
    transition: 1s cubic-bezier(0.15, 0.5, 0.6, 1.3);
}
.reward.hidden {
    display: initial;
    top: -100%;
    transition: 1s cubic-bezier(0.4, -0.3, 0.85, 0.5);
}
.exitreward {
    position: absolute;
    top: 7px;
    right: 10px;
    background: none;
    border: none;
    color: #ff0000;
}
.exitreward:focus {
    outline: none;
}

#invert.hidden {
    display: block;
    top: -100%;
}
#invert {
    mix-blend-mode: difference;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: top 0.4s ease-in-out;
}