:root {
    --number: #2fa1d6;
    --text: #1ed36f;
}
body {
    background: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

/* Input styling */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#menu {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 300px;
    margin: 0;
    padding: 0;
    user-select: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: visible;
}
li {
    overflow: auto;
}
#menu input {
    background: #303030;
    border: none;
    float: right;
    transition: border-bottom-width 0.6s;
    width: 60%;
    margin-top: 4px;
    box-sizing: border-box;
}
#menu input:hover {
    background: #404040;
}
#menu input:focus {
    outline: none;
    background: #505050;
}


.folder {
    list-style: none;
}
.title {
    /* margin-left: -4px; */
    padding: 0 4px 0 16px;
    background: #000000 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
    font: 11px "Lucida Grande", sans-serif;
    line-height: 27px;
    height: 27px;
    cursor: pointer;
    border-bottom: 1px solid #303030;
}
.indent {
    margin-left: 4px;
}
.closed > .title {
    background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==);
}
.label {
    width: 40%;
    overflow: hidden;
    font: 11px "Lucida Grande", sans-serif;
    float: left;
    display: block;
    line-height: 27px;
    margin: 0;
}
.property {
    padding: 0 5px 0 4px;
    border-bottom: 1px solid #303030;
    background: #202020;
}
.closed .property, .closed .folder {
    display: none;
}
.property.number {
    border-left: 3px solid var(--number);
}
.property.number input {
    color: var(--number);
}
.property.text {
    border-left: 3px solid var(--text);
}
.property.text input {
    color: var(--text);
}
.property input:focus {
    color: #ffffff;
}
.property input {
    color: #ffffff;
}
.property.color {
    border-left: 3px solid #ffffff;
}
.property.color label {
    box-sizing: border-box;
    display: block;
    float: right;
    margin-top: 4px;
    width: 60%;
    height: calc(100% - 8px);
    overflow: hidden;
    border: 1px solid #303030;
    font: bold 13px "Lucida Grande", sans-serif;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}
.property.color input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: 0;
}
.property.color.light label {
    color: #000000;
}
.hidden {
    display: none;
}